.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .links {
    padding-left: 200px;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: row;
    transition: 0.3s ease-in-out;
    flex-grow: 1;
}

.navbar .links .store {
    margin-left: auto;
}

.link {
    display: flex;
    align-items: left;
    gap: 5px;
    color: white;
    font-size: 10px;
    font-weight: 900;
    text-decoration: none;
    background: none !important;
    border: none;
    padding: 0;
    transition: 0.3s ease-in-out;
}

.link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.link.active {
    color: var(--main-color) !important;
    pointer-events: none;
}

.store {
    background: var(--main-color) !important;
    color: rgb(255, 255, 255) !important;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 900;
    border-style: solid;
    border-color: #000000;
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 0px #000000;
}

.store:hover {
    background: var(--hover-color) !important;
}

.link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.link .active {
    color: var(--main-color) !important;
    pointer-events: none;
}

.navbar .links .link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background: var(--main-color);
    color: white;
    font-size: 16px;
    font-weight: 900;
    border-radius: 12px;
    text-decoration: none;
}

.navbar .links .link:hover {
    background: var(--hover-color);
    transform: scale(1.05);
}

.navbar a {
    text-decoration: none;
}

.navbar .menu-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .links .link.active {
    background: var(--active-color);
}

.navbar .links .link.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 40px;
    height: 3px;
    border-radius: 5px;
}

.menu-mobile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .menu-mobile .hamburger {
    color: var(--white-color);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    display: none;
}

.navbar .menu-mobile .hamburger:hover {
    opacity: 0.8;
}

.navbar.active {
    max-height: 1000px;
}

.navbar.active .links {
    opacity: 1;
    z-index: 2;
}

@media screen and (max-width: 1625px) {
    .navbar {
        padding: 10px 20px;
        flex-direction: column;
        gap: 10px;
        max-height: 90px;
    }

    .navbar .menu-mobile {
        width: 100%;
        justify-content: space-between;
    }

    .navbar .menu-mobile .hamburger {
        display: flex;
    }

    .navbar .links {
        padding-left: 0;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }

    .navbar.active .links {
        opacity: 1;
        max-height: 500px;
    }

    .navbar .links .store {
        margin-left: 0;
        position: static;
    }
}
