@import "css/global.css";

#header {
    position: relative;
    height: 100vh; /* Imposta l'altezza della sezione alla viewport height */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.description {
    color: var(--description-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}

.join-bg {
    position: absolute;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.join-bg .section-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--white-color);
    position: relative;
    text-align: center;
    padding-bottom: 10px;
}

.join-bg .section-title span {
    color: var(--main-color);
}

.join-bg .join-discord {
    font-family: "Nunito", sans-serif;
    background: var(--copy-ip-button-background);
    border: 2px solid var(--main-color);
    border-radius: 3px;
    padding: 10px 30px;
    color: var(--white-color);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.join-bg .join-discord:hover {
    opacity: 0.8;
    font-family: "Nunito", sans-serif;
}

.join-bg .join-discord a {
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    color: var(--white-color);
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.image-container {
    text-align: center;
    flex: 1;
    min-width: 200px;
}

.image-title {
    color: var(--main-color);
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.image-description {
    color: var(--description-color);
    font-size: 16px;
    line-height: 1.4;
}

@media screen and (max-width: 1625px) {
    .join-bg {
        transform: scale(0.7);
        transition: transform 0.2s ease-in-out;
    }
}
